@font-face {
    font-family: 'zabras';
    src: url('./fonts/Zabars.ttf') format('truetype');
}

body {
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url('./img/background/desert.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 32px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 72px;
    letter-spacing: 5px;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.5);
}

.fullscreen-canvas {
    height: 100vh;
    width: 100%;
}

.d_none {
    display: none;
}

canvas {
    background-color: black;
    display: none;
    margin: 0;
}

.winner-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 50vw;
    max-height: 80vh;
    object-fit: contain;
    pointer-events: none;
}

#warning-screen {
    text-align: center;
}

#mobile-device {
    text-align: center;
}

#start-screen {
    height: 405px;
    width: 720px;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    transition: opacity 1s ease, transform 1s ease;
}

.start-screen-buttons {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.game-over-screen {
    height: 405px;
    width: 720px;
    display: none;
    position: relative;
}


.game-over-screen img {
    height: 379px;
    width: 701px;
}

.game-over-screen p {
    padding: 12px;
    position: absolute;
    bottom: 0;
    border: 2px solid #d5d5364d;
    background-color: #d5d5364d;
    border-radius: 10px;
}

.game-over-screen p:hover {
    cursor: pointer;
    text-decoration: underline;
}


.fullscreen img {
    height: 36px;
    position: absolute;
    bottom: 9px;
    right: 20px;
    transition: transform 0.3s;
}

.fullscreen img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.volume img {
    height: 32px;
    position: absolute;
    bottom: 12px;
    right: 76px;
    transition: transform 0.3s;
}

.volume img:hover {
    cursor: pointer;
    transform: scale(1.05);
}


.disappear {
    opacity: 0;
    transform: scale(0.9);
}

.menu-buttons {
    margin-top: 44px;
    background: linear-gradient(to bottom, #ffca1acf 0%, #ffde01e3 50%, #91886cad 100%);
    height: 34px;
    padding: 8px 24px;
    border-radius: 16px;
    transition: transform 0.4s, box-shadow 0.3s ease;
}

.menu-buttons:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.596);
}

#start-button {
    animation: pulse 1s infinite;
    display: inline-block;
    transition: box-shadow 0.3s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0px rgba(0, 123, 255, 0);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.589);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0px rgba(0, 123, 255, 0);
    }
}

#game-settings {
    height: 480px;
    width: 720px;
    position: relative;
    display: none;
    flex-direction: column;
}

#game-settings img {
    width: 168px;
    position: absolute;
    right: 0px;
    bottom: 138px;
    transition: transform 0.4s;
}

#game-settings img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.seperator {
    height: 380px;
    width: 2px;
    background: linear-gradient(to bottom, #ffca1acf 0%, #ffde01e3 50%, #91886cad 100%);
    box-shadow: 5px 1px 8px #000000;
}

.settings {
    display: flex;
    gap: 32px;
}

.setting-menu {
    display: flex;
    gap: 8px;
}

.setting-menu p {
    padding: 8px 16px;
    border-radius: 8px;
    transition: transform 0.4s;
}

.setting-menu p:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.activ {
    background: linear-gradient(to bottom, #ffca1acf 0%, #ffde01e3 50%, #91886cad 100%);
}

#display-audio-settings {
    display: none;
    flex-direction: column;

}

#display-audio-settings p {
    margin-bottom: 4px;
}

.control {
    display: flex;
    align-items: center;
    gap: 10px;
}

progress {
    width: 240px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #333;
    box-shadow: inset 0 0 5px #000;
}

progress::-webkit-progress-bar {
    background-color: #333;
}

progress::-webkit-progress-bar {
    background-color: #333;
}

progress::-webkit-progress-value {
    background: linear-gradient(90deg, #00f2ff, #0072ff);
    transition: width 0.3s ease;
}

progress::-moz-progress-bar {
    background: linear-gradient(90deg, #00f2ff, #0072ff);
    ;
    transition: width 0.3s ease;
}

.audio-setting button {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background: #0072ff;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.audio-setting button:hover {
    background: #00f2ff;
    box-shadow: 0 0 5px #00f2ff;
}


#impressum-site {
    display: none;
    position: relative;
    height: 480px;
    width: 720px;
}

#impressum-site img {
    width: 168px;
    position: absolute;
    right: 0px;
    bottom: 144px;
    transition: transform 0.4s;
}

#impressum-site img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.imprint {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    border-radius: 16px;
    padding: 12px;
    width: 470px;
    height: 410px;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: scroll;
    text-shadow: none;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.imprint a {
    color: white;
    text-decoration: underline;
}

.imprint ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1.5em;
}

.short h1 {
    display: none;
}

@media (max-width: 719px) {

    .game-over-screen {
        height: 300px;
        width: 500px;
    }

    #impressum-site {
        height: 320px;
        width: 600px;
    }

    #impressum-site img {
        width: 124px;
        right: 20px;
        bottom: 40px;
    }

    .imprint {
        font-size: 18px;
        width: 380px;
        height: 270px;
        margin-left: 16px;
    }

    #game-settings img {
        width: 120px;
        right: 16px;
        bottom: 70px;
    }

    #game-settings {
        height: 320px;
        width: 600px;
    }

    .menu-buttons {
        height: 18px;
        font-size: 18px;
    }

    .seperator {
        height: 265px;
    }

    .settings {
        gap: 32px;
        font-size: 24px;
    }

    #headline {
        font-size: 36px;
    }

    #start-screen {
        height: 320px;
        width: 600px;
    }

    canvas {
        width: 100%;
    }

    .setting-menu {
        margin-left: 12px;
    }

    .fullscreen img {
        height: 24px;
        right: 30px;
    }

    .volume img {
        height: 24px;
        bottom: 10px;
        right: 72px;
    }

    .game-over-screen img {
        height: 280px;
        width: 460px;
    }

    .game-over-screen p {
        padding: 8px;
        font-size: 18px;
    }
}

@media (max-height: 479px) {

    canvas {
        height: 100vh;
    }

    .game-over-screen {
        height: 300px;
        width: 500px;
    }

    #impressum-site {
        height: 320px;
        width: 600px;
    }

    #impressum-site img {
        width: 124px;
        right: 20px;
        bottom: 40px;
    }

    .imprint {
        font-size: 18px;
        width: 380px;
        height: 270px;
        margin-left: 16px;
    }

    #game-settings img {
        width: 120px;
        right: 16px;
        bottom: 70px;
    }

    #game-settings {
        height: 320px;
        width: 600px;
    }

    .menu-buttons {
        height: 18px;
        font-size: 18px;
    }

    .seperator {
        height: 265px;
    }

    .settings {
        gap: 32px;
        font-size: 24px;
    }

    #headline {
        font-size: 36px;
    }

    #start-screen {
        height: 320px;
        width: 600px;
    }

    .setting-menu {
        margin-left: 12px;
    }

    .fullscreen img {
        height: 24px;
        right: 30px;
    }

    .volume img {
        height: 24px;
        bottom: 10px;
        right: 72px;
    }

    .game-over-screen img {
        height: 280px;
        width: 460px;
    }

    .game-over-screen p {
        padding: 8px;
        font-size: 18px;
    }
}

@media (max-height: 719px) {

    #headline {
        display: none;
    }

}